doctype
html
	head
		meta(charset="utf-8")
		title #{title}
		link(href="../../dist/css/admin.css",rel="stylesheet")
	body.sub-body
		.pos-rlt.p-md
			span 首页
			em >
			span 添加单页
		.p-md.m-top
			.panel.panel-default
				.panel-body
					.tab_t
						span.a.active 添加单页
				.pane-body.atricle-form
					form(action="/admin/pageListSave",method="post")
						.form-group.m-h-n.clearfix
							label.control-label 单页名称：
							.col-sm-6
								input.form-control(type="text",name="name")
						.form-group.m-h-n.clearfix
							label.control-label 单页介绍：
							.col-sm-6
								textarea.form-control(rows="5",name="remark")
						.form-group.m-h-n.clearfix
							label.control-label 单页连接：
							.col-sm-5
								input.form-control(type="text",name="url")
						.form-group.m-h-n.clearfix
							label.control-label 单页内容：
							.col-sm-11
								#editormd(style="margin:0")
									textarea#editor-content(style="height:500px;",name="content")
						.form-group.m-h-n.clearfix
							label.control-label
							.col-sm-6
								.submit_type.t-l
									button.btn.btn-sm.btn-danger(type="submit") 提交

		script(src="http://cdn.bootcss.com/jquery/2.2.0/jquery.min.js",type="text/javascript")
		script(src="/ueditor/ueditor.config.js",type="text/javascript")
		script(src="/ueditor/ueditor.all.min.js",type="text/javascript")
		script(src="/ueditor/lang/zh-cn/zh-cn.js",type="text/javascript")
		script(src="/js/adminBase.js",type="text/javascript")
		script.
			var ue = UE.getEditor('editor-content');

