@mixin amiText($time:3s){
  width: 18.5em;
  width: 36.2ch;
  //border-right:1px #666 solid;
  padding-right:5px;
  white-space: nowrap;
  overflow: hidden;
  animation: typing $time steps(500, end),blink-caret .3s step-end infinite alternate;
}