$bg-base: #f2f2f2 !default;

//$font-family-base:  "Helvetica Neue", Helvetica, Arial, sans-serif !default;

$font-family-base:"PingFang-SC-Regular","Helvetica Neue",Helvetica,"Droid Sans Fallback","microsoft yahei",sans-serif;

$designWidth:640;

$rem-base: 0.24rem !default;

$inline-block-alignment: middle !default;

$brand-color:#ff464e !default;

$brand-active-color:#f66 !default;

$border-color:#e5e5e5 !default;

$timestamp:'?20160410';