extends mixins/_layout

block content
	title 螺主
	body
		#circleG
			i#circleG_1
			i#circleG_2
			i#circleG_3
			
		#page.aboutus
			// 头部
			include mixins/_header.jade
			+header(navigator, 0)
			
			// 顶部图片
			section.commonTop.lazy(_src='dist/img/29.png')
				.warp.cfff
					i.logo
					h2 螺主，做您生活的建筑师～
					p.more LuoZhu, do you live the architect ~
			// 主要内容
			section.models
				.main_intro
					.bigShow.defaultBg
						img.lazy(_src='#{aboutCompany.imgPath[0]}')
					.intro_text.c000 #{aboutCompany.intro[0]}
				.main_intro
					.intro_text.c000 #{aboutCompany.intro[1]}
					.bigShow.defaultBg
						img.lazy(_src='#{aboutCompany.imgPath[1]}')
			
			section.models.watchword
				.img.defaultBg.invertop
					img.lazy(_src='dist/img/24.png')
				.words.invertop.c000
					h2 “ 共享平台、共同创业、共谋发展、共离成果 ”
					p.signs 主打造开放、共赢的装修家居生态系统，推动行业更阳光、更透明。螺主用实际行动获得众多的关注，相继受到央视网、光明网、新华网、凤凰网、第一财经周刊、21世纪商业评论、IT经理世界、36氪 等多家媒体的关注与报道。
			
			section.models.goals
				ul#ideas
					li
						.detail
							i.icon.icon_1
							h3 严查施工保证质量
							p.more 施工技术和管理方面都积累了丰富的经验，在建筑装饰行业都树立了良好的形象，赢得了客户的广泛赞赏，并培养了一批技术人员和管理人才、为自发性组织发展成为业内劳务公司奠定了坚实的基础
					li
						.detail
							i.icon.icon_2
							h3 把控方案设计风格
							p.more 施工技术和管理方面都积累了丰富的经验，在建筑装饰行业都树立了良好的形象，赢得了客户的广泛赞赏，并培养了一批技术人员和管理人才、为自发性组织发展成为业内劳务公司奠定了坚实的基础
					li
						.detail
							i.icon.icon_3
							h3 严查施工保证质量
							p.more 施工技术和管理方面都积累了丰富的经验，在建筑装饰行业都树立了良好的形象，赢得了客户的广泛赞赏，并培养了一批技术人员和管理人才、为自发性组织发展成为业内劳务公司奠定了坚实的基础
			
			img.lazy.fullW.show(_src='dist/img/25.png')
			//底部
			include mixins/_footer.jade
			+footer(navigator, contact)
				
		script(src='dist/js/zepto.min.js')
		script(src='dist/js/base.js')