doctype
html
   head
    meta(charset="utf-8")
    //title #{title}
    //meta(name="description" content="#{description}")
    //meta(name="keywords" content="#{keywords}")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    link(href="/dist/css/base.css",rel="stylesheet")
    block content