mixin footer
	footer#footer
		.wrap.ovh
			.fl
				a.logo(href='index.html')
					img.lazy(_src='images/logo_bottom.png')
				p.copyright © 2016 luozhu.co 深圳市螺主建筑有限公司 保留所有权利
			.fr
				ul#nav
					li
						a(href='about.html') 关于我们
					li
						a(href='teams.html') 团队成员
					li
						a(href='cases.html') 服务案例
					li
						a(href='news.html') 企业新闻
					li
						a(href='contactus.html') 联系我们
				.contactUs 联系电话：0000－1234567
					a.icon.wx(href='##')
					a.icon.QQ(href='##')
					a.icon.sina(href='##')
