mixin header(navigator, className)
	header#head
		.wrap.prel
			a.logo(href='/')
				img(src='images/logo_top.png')
			ul#nav.fr
				each item, index in navigator
					if className==index
						li
							a.active(href='#{item.url}') #{item.name}
					else
						li
							a(href='#{item.url}') #{item.name}